.dart_tool/
.idea/
.vscode/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
